.page-header img{
	display: block;
	margin: 0 auto;
}

h3.post-title{
}
h4.tagline{
	font-weight: 300;
	font-size: 1em;
}

/*Fancy Box Over-rides */
.fancybox-nav {
	width: 20%;
}

/* Footer */
#bottom_fade {
	width: 100%;height: 100px;z-index: 99;position: fixed;bottom: 0px;
	display: table-cell;
    vertical-align: bottom;
}

#footer-links{
	list-style-type: none;
	position: fixed;right: 0;left: 0;bottom: 0;
    margin-right: 0 auto;
	padding: 0;
	text-align: center;
}

#footer-links li{
	text-align: center;
	color: #444;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 2px 5px;
}
