/*Courses Page*/
.course-list{
	list-style-type: none;
}

.course-box{
	padding-bottom: 10px;
}

a.course-link:hover{
	text-decoration: none;
}

.course-name{
}


.course-box-expand{
	display: none;
	text-align: left;
	margin: 5px 10px 5px 10px;
	padding: 10px 30px 50px 30px;
	border: 10px solid #999;
}

.course-list li{
	display: block;
}

/*
People Page
*/
.faculty-list{
	list-style-type: none;
	text-align: center;
}

.faculty-list li{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 150px;
	padding: 10px;
	margin: 0px 10px 10px 10px;
	border: 4px solid #999;
}

.student-list{
	list-style-type: none;
}

.student-list li{
	display: inline-block;
}

.student-box {
	vertical-align: text-bottom;
	width: 150px;
	height: 200px;
	padding: 5px;
	margin: 0px 5px 10px 5px;
	border: 2px solid #999;
}

.student-list h4{
	text-align: center;
}

.student-box-expand{
	display: none;
	text-align: center;
}

.student-box-expand #student-info{
	text-align: left;
	margin-left: 25px;
}

.student-box-expand img{
	text-align: center;
}

/*Fancy Box Over-rides */

.fancybox-nav {
	width: 20%;
}

/* Footer */
#bottom_fade {
	width: 100%;height: 100px;z-index: 99;position: fixed;bottom: 0px;
	display: table-cell;
    vertical-align: bottom;
}

#footer-links{
	list-style-type: none;
	position: fixed;right: 0;left: 0;bottom: 0;
    margin-right: 0 auto;
	padding: 0;
	text-align: center;
}

#footer-links li{
	text-align: center;
	color: #444;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 2px 5px;
}
