/* This css file over rides the JB theme without adopting it directly */

/* Overrides */

.container-narrow{
	max-width: 800px;
	width: 800px;
}

body {
	background-color: #FFF;
}

.page-content{
	margin-top: 10px;
	background-color: #FFF;
	border: 10px solid #777;
	margin-bottom: 100px;
}

.content{
	padding: 10px;
	background-color: #FFF;
}

/*Bottom of Page */
#bottom_fade {
	width: 100%;
	height: 200px;
	z-index: 99;
	position: fixed;
	bottom: 0px;
	background: url("/assets/images/bottom-fade.png") bottom center repeat-x;
}

/* Header & Nav Bar -- this gets pretty serious, look at how bootstrap does the gradient for this part
.navbar-inner{

}
*/

a.anchor{
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden;
}

.navbar-scroller{
	display: none;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 99;
}

.navbar-inner{
	padding: 0px 1px 0px 5px;
}



