/* This css file over rides the JB theme without adopting it directly */

/* Overrides */
.container-narrow{
	max-width: 1000px;
}

.bx-viewport ul{
	margin: 0;
}

/*
body {
  background: url(http://www.hillhaus.com/photos/2006.10.18.Flatirons/Flatirons.01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

.page-content{
	margin-top: 10px;
	background-color: rgba(250,250,250,.9);
	border: 0px solid #777;
	margin-bottom: 100px;
}

.content{
	padding: 10px;
}


/* Header & Nav Bar -- this gets pretty serious, look at how bootstrap does the gradient for this part
.navbar-inner{

}
*/

.twitter-timeline{
	position: absolute;
	right: 10px;
	top: 200px;
	width: 300px;
}

a.anchor{
	display: block;
	position: relative;
	top: -50px;
	visibility: hidden;
}

.navbar-scroller{
	display: none;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: 99;
}

.navbar-inner{
	padding: 0px 1px 0px 5px;
}
