hr {
	padding-bottom: 100px;
}

img.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

ul img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.lab{
	padding: 10px;
	padding-bottom: 200px;
}

.even{
	background-color: #DDD;
}


.odd{
	background-color: #FFF;
}

a.website{
	display: block;
	text-align: center;
	font-weight: 300;
	font-size: 1.5em;
	margin: 0 auto;
}

a.website:after{
	vertical-align: top;
	font-size: .5em;
	content: " >>";
}

a.website:hover{
	text-decoration: none;
	color: #555;
}