p{
  text-align: left;
}

p.interests{
  padding-right: 10px;
}

h5{
  margin-bottom: 0px;
  margin-top: 2px;
}

.profile-image{
  max-width: 30%;
  float: right;
  margin: 10px;
}

.list{
  list-style-type: none;
  text-align: center;
  vertical-align: bottom;
}

.list li{
  display: inline-block;
}

.list a:hover{
  text-decoration: none
}

.list li:hover{
  opacity: .8;
}

.info-expand{
  display: none;
  padding: 20px 30px 20px 30px;
  text-align: center;
}

.info-expand a{
  font-size: 18px;
}

.info-expand a:hover{
  text-decoration: none;
  color: #444;
}

.info-expand a::after{
  font-size: 12px;
  vertical-align: top;
  content: " >>";
}

.info{
  text-align: left;
}

.name-box{
  max-width: 62%;
  margin: 0;
  float: left;
}





/*Faculty / Researchers / PostDocs */

.faculty.list li, .researcher.list li{
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0px 10px 10px 10px;
}

.faculty.teaser, .researcher.teaser, .postdoc.teaser{
	clear: both;
	padding: 5px;
}



/* Students & Alumni*/
.student.list li, .alumni.list li{
  display: inline-block;
  width: 150px;
  padding: 5px;
  margin: 0px 5px 10px 5px;
  text-align: center;
}

.goals{
  clear: both;
  min-height: 100px;
}
